*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../images/fondito.jfif);
}

main{
    width: 1024px;
    background: rgb(44, 150, 236);
    margin: 0 auto;
}
h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    display: flex;
    background-color: rgb(255, 0, 0);
      justify-content: center;
      align-content: center;
      margin: 1rem;
      font-family: 'Roboto', sans-serif;
}

.escudo {
    float: right;
    display: flex;
    margin-top: 9rem;
    margin-right: 1rem;
    align-items: right;
    color: rgb(255, 255, 255);
    font-style: italic;
    display: flex;
    background-color: rgb(25, 0, 255);
    border-radius: 163px;
    border: 5px solid rgb(255, 0, 0);
}

header {
    padding: 10px;
    background:linear-gradient(+80deg,rgb(47, 51, 184),#009dff9c,rgb(47, 51, 184));
}

.logo img {
    width: 20px;
}

.logo{
    width: 30%;
    float: left;
    background-image: 20px;
}

nav{
    margin-top: 80px;
    width: 50%;
    float: right;
}

/* nav ul {

} */

nav ul li{
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding:10px;
    border-radius: 10px;
}

nav ul li a:hover{
    color: #000000;
    background: #001aff;
}

section{
    padding: 50px;
}


.piolin{
    width: 38%;
    float: left;
}

.texto-lateral{
    float: left;
    width: 70%;
    margin-top: 40px;
}

.clear{
    clear: both;
}
.formulario{
    border: 10px solid red;
}